.intro {
  padding: 1.5rem 1.5rem;
  background: #f7f7f7;
  width: 100%;
  display: inline-block;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  .dp-img {
    width: 250px;
    height: 250px;
    background: url("../img/dp.jpg");
    background-position-x: -0.9em;
    border-radius: 50%;
    border: solid 3px $third-color;
    margin: auto;
  }

  .intro-text {
    color: #000000;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    width: 40%;
    text-align: center;
    margin: auto;
  }
}

// .home-grid {
//   display: grid;
//   grid-template-columns: repeat(4, 1fr);
//   grid-template-rows: 1fr 3fr;
//   grid-column-gap: 0px;
//   grid-template-areas:
//     "title title title title"
//     "ktmimage ktmimage ktmimage ktmimage";
// }

.title-heading {
  grid-area: title;
}

.ktm-img {
  position: relative;
  grid-area: ktmimage;
  margin: auto;
  margin-top: 12%;
  margin-bottom: 0px;
  padding-bottom: 0px;
  background-image: $home-image;
  background-repeat: repeat-x;
  // min-height: 500px;
  min-height: 100%;
}

.blank {
  grid-area: bottom;
  background-color: black;
}
//Work/Projects
.project-div {
  padding: 2.5rem 1.5rem;
  background: #fffefe;

  -webkit-font-smoothing: antialiased;
  h2 {
    color: #000;
    text-align: center;
  }
  .projects {
    display: grid;
    grid-gap: 0.7rem;
    grid-template-columns: repeat(3, 1fr);

    .item {
      text-align: center;
      img {
        width: 100%;
        border: 3px #fff solid;

        &:hover {
          opacity: 0.5;
          cursor: pointer;
          border-color: $third-color;
          @include easeOut;
        }
      }
    }
  }
}

#my-tools {
  i {
    font-size: 5rem;
    padding: 1.5rem;
    &:hover {
      // color: rgba(251, 204, 52, 1);
      color: rgba(196, 148, 46, 0.9);
      @include easeOut;
    }
  }
}

.resume {
  padding: 2.5rem 1.5rem;
  background: #d6dfe4;

  -webkit-font-smoothing: antialiased;

  h2 {
    color: #000;
    text-align: center;
  }

  .resume-section {
    display: grid;
    grid-template-areas:
      "sectionTitle sectionTitle sectionTitle"
      "sectionContent sectionContent timeAddress"
      "sectionMain sectionMain sectionMain";
    color: #fff;
    grid-row-gap: 1%;
    padding: 3rem;
    width: 50%;
    margin: auto;
    margin-top: 2rem;
    background: #c06868;

    //Education
    .section-title {
      grid-area: sectionTitle;
      margin-left: 0;
    }

    //Vanderbilt University, Major, Minor
    .section-content {
      grid-area: sectionContent;
    }

    //date address
    .duration {
      grid-area: timeAddress;
      margin-right: 0;
    }

    //sectionMain
    .section-main {
      grid-area: sectionMain;
      width: 100%;
    }
  }
}

.contacts {
  margin: 0;
  padding: 5rem;
  text-align: center;
  background: $primary-color;

  &-items {
    display: inline-block;
  }

  .icons {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
    padding: 0.4rem;

    a {
      margin-right: 1.5rem;

      &:hover {
        color: rgba(251, 204, 52, 1);
        @include easeOut;
      }
    }
  }
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  color: #000000;
  width: 100%;
  overflow: auto;
  //overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: #f4f4f4;
  margin: 4.09% auto;
  width: 60%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
  animation-name: modalopen;
  animation-duration: 0.5s;
}

.closeBtn {
  color: #ffffff;
  float: right;
  font-size: 30px;
}

.closeBtn:hover,
.closeBtn:focus {
  color: $secondary-color;
  text-decoration: none;
  cursor: pointer;
}

.modal-header h2 {
  margin: 0;
}
.modal-header {
  background: $primary-color;
  padding: 0.5rem;
  color: #ffffff;
  text-align: center;
  font-size: 1.2rem;
}

.modal-body {
  padding: 10px 20px;
  text-align: center;
  font-size: 1.2rem;

  img {
    display: block;
    width: 70%;
    height: 100%;
    border: 2px $secondary-color solid;
    margin: auto;
    margin-bottom: 1%;
  }
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
